@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$font-color-1: #B7D333;
$font-color-2: #3A3A3A;
$font-color-3: #8C8C8C;
$font-color-4: #ffffff;
$font-color-5: #000000;
$font-color-6: #ff0000;

$background-color-1: #B7D333;
$background-color-2: rgba(255, 210, 158, 0.09);
$background-color-3: rgba(255, 172, 75, 0.32);
$background-color-4: rgba(255, 255, 255, 0.29);
$background-color-5: #CCE06E;
$background-color-6: #CEC63B;
$background-color-7: #b6d333e1;

$border-color-1: #313234;
$border-color-2: rgba(0, 0, 0, 0.17);
$border-color-3: rgba(255, 210, 158, 0.09);
$border-color-4: #8C8C8C;
$border-color-5: #B8B8B8;
$border-color-6: #ffffff;
$border-color-7: #ff0000;
$border-color-8: #B7D333;

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.6em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $font-color-2;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;

    &.margin-top {
        margin-top: 140px;
    }
}

header {
    width: 100%;
    height: 140px;
    position: fixed;
    top: 0;
    background-color: $border-color-6;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-left: 1px solid $border-color-5;
        border-right: 1px solid $border-color-5;
        border-bottom: 1px solid $border-color-5;

        .logo {
            margin-left: 170px;
            display: flex;
        }

        .nav_phone-wrapper {
            display: flex;
            height: 100%;
            align-items: center;

            nav {
                ul {
                    display: flex;
                    margin: 0 20px;

                    li {
                        list-style-type: none;

                        a {
                            font-size: 25px;
                            font-weight: 700;
                            color: #124948;
                            padding: 10px 25px;
                            margin: 5px;
                            display: inline-block;
                            letter-spacing: 0.05em;
                        }
                    }
                }
            }

            .phone {
                display: flex;
                align-items: center;
                padding: 0 40px;
                background-color: $background-color-2;
                height: 100%;
                border-left: 1px solid $border-color-5;

                a {
                    font-weight: 700;
                    font-size: 25px;
                    color: #124948;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
}

.hero {
    width: 100%;
    height: 740px;
    display: flex;

    .text {
        width: 680px;
        flex-shrink: 0;
        background-color: $background-color-1;
        display: flex;
        align-items: center;

        .text-wrapper {
            margin-left: 180px;
            margin-right: 100px;
            display: flex;
            flex-direction: column;

            h1 {
                color: $font-color-4;
                font-weight: 700;
                font-size: 55px;
                text-transform: uppercase;
                line-height: 40px;
                display: inline-block;

                span {
                    color: $font-color-4;
                    line-height: 40px;
                    border-bottom: 1px solid $border-color-6;
                    padding-bottom: 10px;
                    letter-spacing: 0.05em;
                }
            }

            h2 {
                color: $font-color-4;
                margin-top: 32px;
                font-weight: 600;
                font-size: 30px;
            }

            button {
                color: $font-color-4;
                padding: 15px 30px;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                background-color: $background-color-5;
                border: 1px solid $border-color-6;
                margin-top: 20px;
                cursor: pointer;

                &:hover {
                    background-color: $background-color-3;
                }
            }
        }
    }

    .picture {
        width: 100%;
        flex-shrink: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.products {
    width: 100%;
    scroll-margin-top: 140px;

    .product {
        display: flex;
        justify-content: space-between;

        &.no-frame {
            padding: 60px 180px;
            background-color: $background-color-2;
            height: 570px;
        }

        &.frame {
            margin: 95px 180px;
            height: 500px;

            .text {
                border-top: 1px solid $border-color-4;
                border-bottom: 1px solid $border-color-4;
                border-left: 1px solid $border-color-4;
                padding-left: 100px;
            }
        }

        .text {
            height: 100%;
            width: 850px;
            overflow: hidden;
            padding-right: 150px;
            line-clamp: 4;
            box-orient: vertical;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 25px;
                font-weight: 700;
                line-height: 34px;
                margin-top: 10px;
            }

            h1 {
                font-size: 40px;
                font-weight: 700;
                text-transform: uppercase;
                color: $font-color-1;
                letter-spacing: 0.05em;
                border-bottom: 1px solid $border-color-4;
                line-height: 60px;
                width: fit-content;
            }

            p {
                font-weight: 400;
                font-size: 20px;
                color: $font-color-5;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 11;
                line-height: 30px;
                margin-top: 10px;
            }
        }

        .picture {
            height: 100%;
            width: 720px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.left-pic {
            .text {
                order: 1;
                padding-left: 130px;
                border-top: 1px solid $border-color-4;
                border-bottom: 1px solid $border-color-4;
                border-left: none;
                border-right: 1px solid $border-color-4;
                padding-right: 80px;
            }

            .picture {
                order: 0;
                width: 710px;
            }
        }
    }

    .equipments {
        min-height: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;

        h2 {
            font-size: 25px;
            font-weight: 700;
            line-height: 34px;
        }

        h1 {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            color: $font-color-1;
            letter-spacing: 0.05em;
            border-bottom: 1px solid $border-color-4;
            line-height: 48px;
            width: fit-content;
            margin-bottom: 80px;
            padding-bottom: 10px;
        }

        .equipments_elem {
            display: flex;
            gap: 60px;

            .equipment {
                display: flex;
                flex-direction: column;
                display: inline-block;
                min-width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-size: 40px;
                    font-weight: 700;
                    color: $font-color-1;
                    letter-spacing: 0.05em;
                    line-height: 48px;
                    width: fit-content;
                    margin-top: 30px;

                }
            }
        }
    }
}

.about {
    padding: 70px 0;
    scroll-margin-top: 140px;
    background-color: $background-color-2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper {
        width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 25px;
            font-weight: 700;
            line-height: 34px;
        }

        h1 {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            color: $font-color-1;
            letter-spacing: 0.05em;
            border-bottom: 1px solid $border-color-4;
            line-height: 48px;
            width: fit-content;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            color: $font-color-5;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 11;
            line-height: 30px;
            margin-top: 10px;
            text-align: center;
        }
    }
}

.location {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 25px;
            font-weight: 700;
            line-height: 34px;
        }

        h1 {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            color: $font-color-1;
            letter-spacing: 0.05em;
            border-bottom: 1px solid $border-color-4;
            line-height: 48px;
            width: fit-content;
            margin-bottom: 60px;
            padding-bottom: 10px;
            text-align: center;
        }

        .map {
            height: 500px;
            width: 100%;
            max-width: 1550px;
        }
    }
}

.contact {
    display: flex;
    scroll-margin-top: 140px;
    justify-content: center;
    margin-bottom: 100px;

    h2 {
        font-size: 25px;
        font-weight: 700;
        line-height: 34px;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: $font-color-1;
        letter-spacing: 0.05em;
        border-bottom: 1px solid $border-color-4;
        line-height: 48px;
        width: fit-content;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .form {
        border-right: 1px solid $border-color-4;
        padding-right: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            input,
            textarea {
                border: 1px solid $border-color-4;
                padding-right: 18px;

                &.active {
                    border-color: $border-color-8;
                }
            }

            input {
                height: 55px;
                width: 450px;
                text-align: right;
                font-weight: 600;
                font-size: 20px;

                &::placeholder {
                    font-weight: 600;
                    font-size: 20px;
                }
            }

            textarea {
                height: 260px;
                width: 450px;
                text-align: right;
                font-weight: 600;
                font-size: 20px;
                padding-top: 8px;

                &::placeholder {
                    font-weight: 600;
                    font-size: 20px;
                }
            }

            p.error {
                height: 20px;
                margin-bottom: 2px;
                font-size: 12px;
                color: $font-color-6;
                padding-right: 9px;
                align-self: flex-start;
            }

            .sending-info {
                display: flex;
                margin-bottom: 0;
                font-size: 14px;

                &.success-info {
                    color: $font-color-3;
                }

                &.error-info {
                    color: $font-color-4;
                }

            }

            button {
                color: $font-color-4;
                padding: 15px 30px;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                background-color: $background-color-5;
                border: 1px solid $border-color-6;
                margin-top: 8px;
                cursor: pointer;

                &:hover {
                    background-color: $background-color-6;
                }

                &.loading {
                    position: relative;
                    pointer-events: none;
                    opacity: 0.5;
                }

                &.loading::after {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid rgba(0, 0, 0, 0.2);
                    border-right-color: rgba(0, 0, 0, 0.7);
                    transform: translate(-50%, -50%) rotate(0deg);
                    content: "";
                    animation: rotateSingleLoading 0.6s infinite linear;
                    z-index: 10;
                }

                @keyframes rotateSingleLoading {
                    0% {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }

                    100% {
                        transform: translate(-50%, -50%) rotate(360deg);
                    }
                }
            }

            p.error {
                margin: 0;
                margin-top: -2px;
                margin-left: 5px;
                font-size: 12px;
                color: $font-color-6;
            }

            input.error,
            textarea.error {
                border-color: $border-color-7;
            }
        }

        .successSendingMessage {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 0.5s;
            visibility: hidden;
            width: 100%;

            h2 {
                margin-bottom: 0;
                color: $font-color-3;
            }

            p {
                text-align: center;
            }
        }

        .explanation {
            font-weight: 400;
            font-size: 16px;
            max-width: 450px;
            margin-top: 30px;
        }
    }

    .address {
        padding-left: 20px;
        width: 50%;

        p {
            color: $font-color-5;
            font-weight: 600;
            font-size: 25px;

            &.tel {
                color: $font-color-1;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 40px;
                max-width: 450px;
            }
        }
    }
}

footer {
    width: 100%;
    height: 100px;
    background-color: $border-color-6;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 200px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-left: 1px solid $border-color-5;
        border-right: 1px solid $border-color-5;
        border-top: 1px solid $border-color-5;
        background-color: $background-color-2;
        font-weight: 600;
        font-size: 20px;
    }
}

@media (max-width: 1600px) {
    .container {
        &.margin-top {
            margin-top: 100px;
        }
    }

    header {
        height: 100px;

        .container {
            .logo {
                margin-left: 40px;

                img {
                    height: 60px;
                }
            }

            .nav_phone-wrapper {
                nav {
                    ul {
                        li {
                            a {
                                font-size: 22px;
                            }
                        }
                    }
                }

                .phone {
                    a {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .hero {
        height: 550px;

        .text {
            .text-wrapper {
                h1 {
                    font-size: 45px;

                    span {
                        padding-bottom: 6px;
                    }
                }

                h2 {
                    font-size: 24px;
                    margin-top: 28px;
                }

                button {
                    font-size: 16px;
                }
            }
        }
    }

    .products {
        scroll-margin-top: 100px;

        .product {
            &.no-frame {
                padding: 60px 80px 60px 40px;
            }

            &.frame {
                margin: 95px 80px;

                .text {
                    padding: 0 5%;
                }
            }

            .text {
                padding: 0 5%;
                width: 50%;

                h2 {
                    font-size: 24px;
                    line-height: 30px;
                }

                h1 {
                    font-size: 36px;
                    line-height: 50px;
                }

                p {
                    font-size: 18px;
                }
            }

            .picture {
                width: 50%;
            }

            &.left-pic {
                .text {
                    width: 50%;
                    padding: 0 5%;
                }

                .picture {
                    width: 50%;
                }
            }
        }

        .equipments {
            h2 {
                font-size: 24px;
            }

            h1 {
                font-size: 36px;
            }

            .equipments_elem {
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;
                margin: 0 40px;

                .equipment {
                    min-width: auto;

                    img {
                        width: 200px;
                    }

                    h3 {
                        font-size: 32px;
                        line-height: 44px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .about {
        scroll-margin-top: 100px;

        .wrapper {
            h2 {
                font-size: 24px;
            }

            h1 {
                font-size: 36px;
            }
        }
    }

    .location {
        .wrapper {
            h2 {
                font-size: 24px;
            }

            h1 {
                font-size: 36px;
            }
        }
    }

    .contact {
        scroll-margin-top: 100px;

        h2 {
            font-size: 24px;
        }

        h1 {
            font-size: 36px;
        }

        .form {
            form {
                input {
                    font-size: 18px;

                    &::placeholder {
                        font-size: 18px;
                    }
                }

                textarea {
                    font-size: 18px;

                    &::placeholder {
                        font-size: 18px;
                    }
                }

                button {
                    padding: 12px 30px;
                    font-size: 18px;
                }
            }

            .explanation {
                font-size: 14px;
            }
        }

        .address {
            width: 40%;

            p {
                font-size: 22px;

                &.tel {
                    font-size: 34px;
                }
            }
        }
    }

    footer {
        height: 80px;

        .container {
            font-size: 16px;
            padding: 0px 100px;
        }
    }
}

@media (max-width: 1280px) {
    .container {
        &.margin-top {
            margin-top: 80px;
        }
    }

    header {
        height: 80px;

        .container {
            .logo {
                margin-left: 30px;

                img {
                    height: 50px;
                }
            }

            .nav_phone-wrapper {
                nav {
                    ul {
                        li {
                            a {
                                font-size: 18px;
                                padding: 10px 18px;
                            }
                        }
                    }
                }

                .phone {
                    display: none;

                    a {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .hero {
        height: 400px;

        .text {
            width: 55%;

            .text-wrapper {
                margin-left: 120px;
                margin-right: 40px;

                h1 {
                    font-size: 40px;

                    span {
                        padding-bottom: 6px;
                    }
                }

                h2 {
                    font-size: 22px;
                    margin-top: 28px;
                }

                button {
                    font-size: 14px;
                    padding: 10px 24px;
                }
            }
        }
    }

    .products {
        scroll-margin-top: 80px;

        .product {
            &.no-frame {
                padding: 60px 80px 60px 40px;
            }

            &.frame {
                margin: 70px 80px;

                .text {
                    padding: 0 5%;
                }
            }

            .text {
                padding: 0 5% 0 3%;
                width: 50%;

                h2 {
                    font-size: 22px;
                    line-height: 30px;
                }

                h1 {
                    font-size: 32px;
                    line-height: 40px;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .picture {
                width: 50%;
            }

            &.left-pic {
                .text {
                    width: 50%;
                    padding: 0 5%;
                }

                .picture {
                    width: 50%;
                }
            }
        }

        .equipments {
            min-height: 380px;

            h2 {
                font-size: 22px;
                line-height: 30px;
            }

            h1 {
                font-size: 32px;
                line-height: 40px;
            }

            .equipments_elem {
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;
                margin: 0 40px;

                .equipment {
                    min-width: auto;

                    img {
                        width: 150px;
                    }

                    h3 {
                        font-size: 24px;
                        line-height: 30px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .about {
        scroll-margin-top: 80px;

        .wrapper {
            h2 {
                font-size: 22px;
                line-height: 30px;
            }

            h1 {
                font-size: 32px;
                line-height: 40px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .location {
        .wrapper {
            h2 {
                font-size: 22px;
                line-height: 30px;
            }

            h1 {
                font-size: 32px;
                line-height: 40px;
            }
        }
    }

    .contact {
        scroll-margin-top: 80px;

        h2 {
            font-size: 22px;
            line-height: 30px;
        }

        h1 {
            font-size: 30px;
            line-height: 40px;
            text-align: right;
        }

        .form {
            form {
                input {
                    font-size: 16px;
                    height: 45px;
                    width: 400px;

                    &::placeholder {
                        font-size: 16px;
                    }
                }

                textarea {
                    font-size: 16px;
                    width: 400px;
                    height: 160px;

                    &::placeholder {
                        font-size: 16px;
                    }
                }

                button {
                    font-size: 16px;
                    padding: 10px 26px;
                }
            }

            .explanation {
                font-size: 12px;
                max-width: 350px;
            }
        }

        .address {
            width: 40%;

            h1 {
                text-align: left;
            }

            p {
                font-size: 20px;

                &.tel {
                    font-size: 28px;
                }
            }
        }
    }

    footer {
        height: 80px;

        .container {
            font-size: 14px;
            padding: 0px 60px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        &.margin-top {
            margin-top: 80px;
        }
    }

    header {
        height: 80px;

        .container {
            .logo {
                margin-left: 30px;

                img {
                    height: 50px;
                }
            }

            .nav_phone-wrapper {
                nav {
                    ul {
                        li {
                            a {
                                font-size: 16px;
                                padding: 8px 10px;

                            }
                        }
                    }
                }

                .phone {
                    display: none;

                    a {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .hero {
        height: 400px;

        .text {
            width: 51%;

            .text-wrapper {
                margin-left: 70px;
                margin-right: 40px;

                h1 {
                    font-size: 40px;

                    span {
                        padding-bottom: 6px;
                    }
                }

                h2 {
                    font-size: 22px;
                    margin-top: 28px;
                }

                button {
                    font-size: 14px;
                    padding: 10px 24px;
                }
            }
        }
    }

    .products {
        .product {
            &.no-frame {
                padding: 40px 0 40px 20px;
            }

            &.frame {
                margin: 40px 0px;

                .text {
                    padding: 0 5%;
                }
            }

            .text {
                padding: 0 5% 0 3%;
                width: 50%;

                h2 {
                    font-size: 16px;
                    line-height: 26px;
                }

                h1 {
                    font-size: 24px;
                    line-height: 32px;
                }

                p {
                    font-size: 14px;
                    line-height: 22px;
                    -webkit-line-clamp: 16;
                }
            }

            .picture {
                width: 50%;
            }

            &.left-pic {
                .text {
                    width: 50%;
                    padding: 0 5%;
                }

                .picture {
                    width: 50%;
                }
            }
        }

        .equipments {
            min-height: 380px;

            h2 {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 50px;
            }

            h1 {
                font-size: 24px;
                line-height: 32px;
            }

            .equipments_elem {
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;
                margin: 0 40px;

                .equipment {
                    min-width: auto;
                    margin: 0 30px;

                    img {
                        width: 210px;
                    }

                    h3 {
                        font-size: 20px;
                        line-height: 24px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .about {
        padding: 40px 0;

        .wrapper {
            width: 600px;

            h2 {
                font-size: 16px;
                line-height: 26px;
            }

            h1 {
                font-size: 24px;
                line-height: 32px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .location {
        padding: 40px 0;

        .wrapper {
            h2 {
                font-size: 16px;
                line-height: 26px;
            }

            h1 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 20px;
            }
        }
    }

    .contact {
        margin-bottom: 40px;

        h2 {
            font-size: 16px;
            line-height: 26px;
        }

        h1 {
            font-size: 24px;
            line-height: 32px;
            text-align: right;

        }

        .form {
            width: 55%;

            form {
                input {
                    font-size: 14px;
                    height: 40px;
                    width: 340px;

                    &::placeholder {
                        font-size: 14px;
                    }
                }

                textarea {
                    font-size: 14px;
                    width: 340px;
                    height: 120px;

                    &::placeholder {
                        font-size: 14px;
                    }
                }

                button {
                    font-size: 16px;
                    padding: 10px 26px;
                }
            }

            .explanation {
                font-size: 12px;
                max-width: 300px;
            }
        }

        .address {
            width: 40%;

            h1 {
                text-align: left;
            }

            p {
                font-size: 16px;

                &.tel {
                    font-size: 24px;
                }
            }
        }
    }

    footer {
        height: 60px;

        .container {
            font-size: 14px;
            padding: 0px 60px;
        }
    }
}

@media (max-width: 660px) {

    .container {

        &.margin-top {
            margin-top: 90px;
        }
    }

    header {
        height: 90px;

        .container {
            .logo {
                margin-left: 20px;

                img {
                    height: 60px;
                }
            }

            .nav_phone-wrapper {
                nav {
                    ul.show {
                        left: 0;
                        transition: left ease-out .5s;
                    }

                    ul {
                        transition: left ease-out .5s;
                        display: flex;
                        position: fixed;
                        top: 0;
                        left: -500px;
                        min-height: 100vh;
                        min-width: fit-content;
                        width: 30%;
                        background: $background-color-7;
                        z-index: 3;
                        flex-direction: column;
                        padding: 80px 15px 0 15px;
                        margin: 0;

                        li {
                            padding: 10px;

                            a {
                                font-size: 20px;
                            }
                        }
                    }

                    .hamburger {
                        padding: 10px 15px;
                        border: solid 1px $border-color-1;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 20px;

                        .bars {
                            position: relative;
                            cursor: pointer;

                            .icon-bar {
                                background-color: $border-color-1;
                                display: block;
                                width: 15px;
                                height: 2px;
                                position: relative;
                                transition: all 0.3s;

                                &:nth-child(1) {
                                    transform: rotate(45deg);
                                    top: 5px;
                                }

                                &:nth-child(2) {
                                    opacity: 0;
                                    margin: 3px 0;
                                }

                                &:nth-child(3) {
                                    transform: rotate(-45deg);
                                    bottom: 5px;
                                }
                            }
                        }

                        .bars.ham {
                            .icon-bar {
                                &:nth-child(1) {
                                    transform: rotate(0);
                                    top: 0;
                                }

                                &:nth-child(2) {
                                    opacity: 1;
                                    margin: 3px 0;
                                }

                                &:nth-child(3) {
                                    transform: rotate(0);
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }

                .phone {
                    display: none;
                }
            }
        }
    }

    .hero {
        height: 400px;

        .text {
            width: 280px;

            .text-wrapper {
                margin-left: 36px;
                margin-right: 0px;

                h1 {
                    font-size: 32px;
                    line-height: 24px;

                    span {
                        line-height: 24px;
                        padding-bottom: 5px;
                    }
                }

                h2 {
                    font-size: 15px;
                    margin-top: 20px;
                    line-height: 20px;
                }

                button {
                    padding: 10px 15px;
                    font-size: 15px;
                }
            }
        }

        .picture {
            width: 100%;
        }
    }

    .products {
        scroll-margin-top: 90px;

        .product {
            flex-direction: column;

            &.no-frame {
                height: auto;
                padding: 40px 70px;

                .picture {
                    display: none;
                }
            }

            &.frame {
                height: auto;
                padding: 0;
                margin: 35px 55px;

                .picture {
                    width: 100%;
                    order: 0;
                }

                .text {
                    order: 1;
                    border-right: 1px solid $border-color-4;
                    border-bottom: 1px solid $border-color-4;
                    border-left: 1px solid $border-color-4;
                    padding: 35px 40px;
                }
            }

            &.left-pic {
                .text {
                    width: 100%;
                }
            }

            .text {
                padding: 0;
                width: 100%;
                align-items: center;

                h2 {
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                }

                h1 {
                    font-size: 32px;
                    line-height: 44px;
                    width: auto;
                    text-align: center;
                }

                p {
                    text-align: center;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }

        .equipments {
            height: auto;
            margin-top: 50px;

            h2 {
                font-size: 19px;
                line-height: 26px;
            }

            h1 {
                font-size: 32px;
                line-height: 44px;
                margin-bottom: 40px;
            }

            .equipments_elem {
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;

                .equipment {
                    min-width: auto;
                    margin: 0;

                    img {
                        width: 170px;
                    }

                    h3 {
                        font-size: 32px;
                        line-height: 44px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .about {
        scroll-margin-top: 90px;
        padding: 50px 80px;

        h2 {
            font-size: 19px;
            line-height: 26px;
        }

        h1 {
            font-size: 32px;
            line-height: 44px;
        }

        p {
            font-size: 15px;
            line-height: 20px;
        }
    }

    .location {
        padding: 50px 60px;

        .wrapper {
            height: 420px;

            h2 {
                font-size: 19px;
                line-height: 26px;
            }

            h1 {
                font-size: 32px;
                line-height: 44px;
                margin: 0 0 28px;
                text-align: center;
            }
        }
    }

    .contact {
        scroll-margin-top: 90px;
        flex-direction: column;

        .form {
            order: 1;
            width: 100%;
            align-items: center;
            padding-right: 0;
            margin-top: 50px;

            h1 {
                font-size: 32px;
                line-height: 44px;
                padding-bottom: 10px;
            }

            form {
                align-items: center;
                margin: 0 100px;

                input,
                textarea {
                    text-align: left;
                    padding-left: 18px;
                    font-size: 20px;
                    line-height: 27px;
                    width: 450px;
                }

                input {

                    &::placeholder {
                        font-size: 20px;
                        line-height: 27px;
                        height: 55px;
                    }
                }

                textarea {
                    height: 260px;

                    &::placeholder {
                        font-size: 20px;
                        line-height: 27px;
                    }
                }

                button {
                    padding: 12px 30px;
                }
            }

            .explanation {
                font-size: 15px;
                line-height: 25px;
                margin: 30px 100px;
                text-align: center;
            }
        }

        .address {
            order: 0;
            width: 100%;
            align-items: center;
            padding-right: 0;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 32px;
                line-height: 44px;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            p {
                &.tel {
                    font-size: 32px;
                    line-height: 44px;
                }
            }
        }
    }

    footer {
        display: none;
    }
}

@media (max-width: 480px) {

    .container {

        &.margin-top {
            margin-top: 75px;
        }
    }

    header {
        height: 75px;

        .container {

            .logo {
                margin-left: 20px;

                img {
                    height: 40px;
                }
            }

            .nav_phone-wrapper {

                nav {

                    ul.show {
                        left: 0;
                        transition: left ease-out .5s;
                    }

                    ul {
                        transition: left ease-out .5s;
                        display: flex;
                        position: fixed;
                        top: 0;
                        left: -500px;
                        min-height: 100vh;
                        min-width: fit-content;
                        width: 30%;
                        background: $background-color-7;
                        z-index: 3;
                        flex-direction: column;
                        padding: 80px 15px 0 15px;
                        margin: 0;

                        li {
                            padding: 10px;

                            a {
                                font-size: 20px;
                            }
                        }


                    }

                    .hamburger {
                        padding: 10px 15px;
                        border: solid 1px $border-color-1;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 20px;

                        .bars {
                            position: relative;
                            cursor: pointer;

                            .icon-bar {
                                background-color: $border-color-1;
                                display: block;
                                width: 15px;
                                height: 2px;
                                position: relative;
                                transition: all 0.3s;

                                &:nth-child(1) {
                                    transform: rotate(45deg);
                                    top: 5px;
                                }

                                &:nth-child(2) {
                                    opacity: 0;
                                    margin: 3px 0;
                                }

                                &:nth-child(3) {
                                    transform: rotate(-45deg);
                                    bottom: 5px;
                                }
                            }
                        }

                        .bars.ham {
                            .icon-bar {
                                &:nth-child(1) {
                                    transform: rotate(0);
                                    top: 0;
                                }

                                &:nth-child(2) {
                                    opacity: 1;
                                    margin: 3px 0;
                                }

                                &:nth-child(3) {
                                    transform: rotate(0);
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }

                .phone {
                    display: none;
                }
            }
        }
    }

    .hero {
        min-height: 400px;
        flex-direction: column;
        height: auto;

        .text {
            width: 100%;
            order: 1;
            padding: 30px 0 40px 0;
            margin: 0;
            justify-content: center;

            .text-wrapper {
                margin: 0;
                align-items: center;

                h1 {
                    font-size: 32px;
                    line-height: 24px;
                    text-align: center;

                    span {
                        line-height: 24px;
                        padding-bottom: 5px;
                    }
                }

                h2 {
                    font-size: 15px;
                    margin-top: 20px;
                    line-height: 20px;
                    text-align: center;
                }

                button {
                    padding: 10px 15px;
                    font-size: 15px;
                }
            }
        }

        .picture {
            width: 100%;
        }
    }

    .products {
        scroll-margin-top: 75px;

        .product {
            flex-direction: column;

            &.no-frame {
                height: auto;
                padding: 40px 20px;

                .picture {
                    display: none;
                }
            }

            &.frame {
                height: auto;
                padding: 0;
                margin: 0;

                .picture {
                    width: 100%;
                    order: 0;
                }

                .text {
                    order: 1;
                    border-right: none;
                    border-bottom: none;
                    border-left: none;
                    padding: 40px 20px;
                }
            }

            &.left-pic {
                .text {
                    width: 100%;
                }
            }

            .text {
                padding: 0;
                width: 100%;
                align-items: center;

                h2 {
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                }

                h1 {
                    font-size: 26px;
                    line-height: 36px;
                    width: auto;
                    text-align: center;
                }

                p {
                    text-align: center;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

        .equipments {
            height: auto;
            margin-top: 50px;

            h2 {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 0px;
            }

            h1 {
                font-size: 26px;
                line-height: 36px;
                margin-bottom: 40px;
            }

            .equipments_elem {
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;

                .equipment {
                    min-width: auto;
                    margin: 0;

                    img {
                        width: 200px;
                    }

                    h3 {
                        font-size: 24px;
                        line-height: 30px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .about {
        scroll-margin-top: 75px;
        padding: 50px 80px;

        .wrapper {
            width: 300px;

            h2 {
                font-size: 18px;
                line-height: 24px;
            }

            h1 {
                font-size: 26px;
                line-height: 36px;
            }

            p {
                font-size: 14px;
                line-height: 20px;
                -webkit-line-clamp: 15;
            }

        }
    }

    .location {
        padding: 40px 0px;

        .wrapper {
            height: 420px;

            h2 {
                font-size: 18px;
                line-height: 24px;
            }

            h1 {
                font-size: 26px;
                line-height: 36px;
                margin: 0 0 28px;
                text-align: center;
                width: 80%;
            }
        }
    }

    .contact {
        scroll-margin-top: 75px;
        flex-direction: column;

        .form {
            order: 1;
            width: 100%;
            align-items: center;
            padding-right: 0;
            margin-top: 50px;

            h1 {
                font-size: 26px;
                line-height: 36px;
                padding-bottom: 10px;
                text-align: center;
                width: 80%;
            }

            form {
                align-items: center;
                margin: 0 100px;

                input,
                textarea {
                    text-align: left;
                    padding-left: 18px;
                    font-size: 14px;
                    line-height: 27px;
                    width: 340px;
                }

                input {

                    &::placeholder {
                        font-size: 14px;
                        line-height: 27px;
                        height: 55px;
                        font-weight: 400;
                    }
                }

                textarea {
                    height: 150px;

                    &::placeholder {
                        font-size: 14px;
                        line-height: 27px;
                    }
                }

                button {
                    padding: 12px 30px;
                }
            }

            .explanation {
                font-size: 13px;
                line-height: 18px;
                margin: 30px;
                text-align: center;
            }
        }

        .address {
            order: 0;
            width: 100%;
            align-items: center;
            padding-right: 0;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 26px;
                line-height: 36px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                width: 80%;
                text-align: center;
            }

            p {
                font-size: 15px;

                &.tel {
                    font-size: 22px;
                    line-height: 30px;
                }
            }
        }
    }

    footer {
        display: none;
    }
}